.searchForm {
  position: fixed;
  top: 100;
  left: 0;
  z-index: 1000;
  bottom: 20%;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 15px;
  flex-direction: column;
  background-color: rgba(33, 37, 41, 0.7);
  border-radius: 15px;
  padding: 20px 30px;
  left: 75%;
  bottom: 35%;
  font-size: 1.5em;
}
.button {
  background-color: #ed621d !important;
}
.button:hover {
  background-color: #122b7e6c !important;
}
.formLabel {
  /* margin-left: 22px; */
  color: white !important;
  font-size: 1em;
}
@media (max-width: 992px) {
  .searchForm {
    position: static;
    left: auto;
    bottom: auto;
    width: 100%;
    margin-top: 15%;
    border-radius: 0px;
  }
}
@media (max-width: 480px) {
  .searchForm {
    position: static;
    left: auto;
    bottom: auto;
    width: 100%;
    margin-top: 30%;
    border-radius: 0px;
  }
} ;
